html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.test {
  color: #235678;
}

.page2 .page_item {
  position: absolute;
  border: 1px solid red;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.page2 .page_item.first {
  left: 0%;
  width: 20%;
}
.page2 .page_item.second {
  left: 20%;
  width: 20%;
}
.page2 .page_item.third {
  left: 40%;
  width: 20%;
}
.page2 .page_item.fourth {
  left: 60%;
  width: 20%;
}
.page2 .page_item.fivth {
  left: 80%;
  width: 20%;
}
.page2 .page_item figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease-out;
}
.page2 .page_item:hover figcaption {
  position: absolute;
  border: 1px solid #f3faff;
}
.page2 .page_item.totop figcaption {
  top: 100%;
}
.page2 .page_item.totop:hover figcaption {
  top: 0;
}
.page2 .page_item.toright figcaption {
  left: -100%;
}
.page2 .page_item.toright:hover figcaption {
  left: 0;
}
.page2 .page_item.toleft figcaption {
  left: 100%;
}
.page2 .page_item.toleft:hover figcaption {
  left: 0;
}
.page2 .page_item.tobottom figcaption {
  top: -100%;
}
.page2 .page_item.tobottom:hover figcaption {
  top: 0;
}
